* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
.product {
    text-align: center;
}
.product img {
    width: 500px; /* Фиксированная ширина */
    height: 500px; /* Фиксированная высота */
    object-fit: cover; /* Масштабирование изображения */
    border-radius: 0px;
}
.product h3 {
    margin: 10px 0 5px;
    font-size: 1em;
    color: #333;
}
.product p {
    font-size: 0.9em;
    color: #555;
}