@media (max-width: 1200px) {
    body {
        transform: scale(0.9); /* Уменьшает масштаб на 10% */
        transform-origin: top left; /* Центрирует масштабирование */
    }
}

@media (max-width: 900px) {
    body {
        transform: scale(0.8); /* Уменьшает масштаб на 20% */
        transform-origin: top left;
    }
}

@media (max-width: 600px) {
    body {
        transform: scale(0.7); /* Уменьшает масштаб на 30% */
        transform-origin: top left;
    }
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-bar {
        flex-direction: column;
        align-items: stretch;
    }

    .icons {
        flex-direction: column;
        align-items: center;

    }

    .icons .cart, .icons .menu {
        margin-top: 10px;
    }
}
